%div.chat
  %div.chat__side
    %div.chat__side__header
      %h
        = current_user.name
      %div.chat__side__header__action
        = link_to new_group_path , :class => "chat__side__header__action__pencil" do
          %i.fa.fa-pencil-square-o
        = link_to edit_user_registration_path, :class => "chat__side__header__action__gear" do
          %i.fa.fa-cog
    %ul.chat__side__groups
      %li.chat__side__groups__group sample
      %p.chat__side__groups__comment good bye world
  %div.chat__main
