@mixin icon{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  margin: 15px 0 15px 3px;
  line-height: 28px;
  text-align: none;
  cursor: auto;
}


@mixin flashMessage {
  background: #38AEF0;
  color: $basic-color;
  text-align: center;
}

@mixin clearfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
